/* Place all of your CSS Code in this file */

/********************************************************************************* 
*
* WEB222 – Assignment #4a
*
* I declare that this assignment is my own work in accordance with Seneca 
* Academic Policy. No part of this assignment has been copied manually or 
* electronically from any other source (including web sites) or distributed to 
* other students. 
* 
* Name: Cindy Le         Student ID: 111657151           Date: March 23, 2018 
* 
********************************************************************************/

body {
    color: #006600;
}

nav {
    background-color: #006600;
}

footer {
    background-color: #006600;
}

header {
    background-color: #ccffcc;
    border-bottom: 1px solid #cccccc;
    padding: 5px;
}

h1.app-title {
    font-family: 'Oleo Script', cursive;
    font-size: 48px;
    font-weight: bold;
    margin: 10px;
}

div.main-table-container {
    max-height: 1000px;
    overflow-y: auto;
    border: 1px solid #cccccc;
}

table.main-table-top tbody tr th {
    text-align: left;
    padding: 10px;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    position: static;
    background-color: #ccffcc;
    font-size: 14px;
}

table.main-table tbody tr td {
    text-align: left;
    padding: 10px;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    font-size: 12px;
}

table.main-table tbody tr td p span {
    font-weight: bold;
    font-style: italic;
}
